<div class="smartcheckbox">
   

  <div class="input-group filtercontrols">
    <span class="input-group-addon">Filter</span>
    <input type="text" class="form-control" placeholder="filter by" ng-model="filter">
    <span id="reset-filter" class="input-group-addon" ng-click="filter = ''">reset</span>
  </div>

  <div class="input-group selectoptionscontrols">
    <button id="select-all" ng-click="selectAll()" type="button" class="btn btn-default btn-sm">Select all</button>
    <button id="unselect-all" ng-click="unselectAll()" type="button" class="btn btn-default btn-sm">Unselect all</button>
    <button id="toggle-all" ng-click="toggleAll()" type="button" class="btn btn-default btn-sm">Toggle</button>
  </div>

  <div class="input-group ordercontrols">
    <button ng-click="orderby = 'label'"
            type="button"
            class="orderby-label btn btn-default btn-sm"
            ng-class="{active: orderby === 'label'}">
        Order by label
    </button>
    <button ng-click="orderby = 'id'"
            type="button"
            class="orderby-id btn btn-default btn-sm"
            ng-class="{active: orderby === 'id'}">
        Order by id
    </button>
    <button ng-click="reverse = !reverse"
        type="button"
        class="orderby-reverse btn btn-default btn-sm"
        ng-class="{active: reverse}">
        Reverse
    </button>
  </div>

  <div class="checkboxes">
    <div class="checkbox widgetcontrols" ng-repeat="elem in elements()">
      <label>
        <input ng-if="isRequired()" class="smart" type="checkbox" ng-model="elem.value" ng-required="requiredfn()(elem, selected)" />
        <input ng-if="!isRequired()" class="smart" type="checkbox" ng-model="elem.value" />
        <span class="itemid">[{{elem.id}}]</span> {{elem.label}}
      </label>
    </div>
  </div>

  <div class="selectedcontrols">
    <span class="label label-info" ng-repeat="elem in selected = (model | filter:{value: true})">
      <span class="itemid">[{{elem.id}}]</span> {{elem.label}}
      <span class="badge" ng-click="unselect(elem)">x</span>
    </span>
  </div>
</div>
